.u-section-1 .u-sheet-1 {
  min-height: 950px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 219px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 240px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-form-1 {
  background-image: none;
  --radius: 50px;
  height: 583px;
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  --radius: 10px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  --radius: 10px;
}

.u-section-1 .u-input-3 {
  --radius: 10px;
}

.u-section-1 .u-input-4 {
  --radius: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 152px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 144px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(217, 217, 217, 1), rgba(217, 217, 217, 1));
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 505px;
}

.u-section-2 .u-calendar-1 {
  width: 570px;
  --radius: 10px;
  --num-padding-vertical: 17px;
  --num-hover-color: #d9d9d9;
  --num-text-hover-default-color: #111111;
  --num-active-color: #808080;
  --num-text-active-default-color: #ffffff;
  --num-color: #ffffff;
  --num-text-default-color: #111111;
  --num-border-active-color: #ffffff;
  --num-border-current-color: #ffffff;
  --days-padding-vertical: 10px;
  --days-font-size: 15px;
  --days-text-transform: none;
  --year-month-font-size: 24px;
  --year-month-font-weight: 700;
  --year-month-text-color: #4d4d4d;
  --year-month-padding-vertical: 20px;
  --year-month-padding-horizontal: 20px;
  --num-current-color: #808080;
  --num-text-current-default-color: #ffffff;
  --num-font-weight: 500;
  --num-text-transform: none;
  --num-font-size: 20px;
  --days-text-color: #808080;
  background-image: none;
  --year-month-border-style: solid;
  --year-month-border: 2px;
  --year-month-border-left: 0;
  --year-month-border-top: 0;
  --year-month-border-right: 0;
  --year-month-border-color: #d9d9d9;
  --days-bold: bold;
  --days-letter-spacing: 1px;
  box-shadow: 0px 0px 37px 0px rgba(128,128,128,0.66);
  --num-border-radius: 50px;
  --num-border-style: solid;
  --num-border-color: #ffffff;
  --num-border: 2px;
  --num-border-hover-color: #ffffff;
  margin: 11px auto 0 -32px;
  padding: 35px 30px;
}

.u-section-2 .u-calendar-time-slot-1 {
  border-style: solid;
  --radius: 7px;
  padding: 7px 20px;
}

.u-section-2 .u-map-1 {
  width: 625px;
  height: 464px;
  margin: -466px -34px 30px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-map-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-2 .u-calendar-1 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-2 .u-map-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-calendar-1 {
    --num-padding-vertical: 15px;
    --num-font-size: 18px;
    width: 540px;
  }

  .u-section-2 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-calendar-1 {
    --num-padding-vertical: 11px;
    --year-month-font-size: 20px;
    --num-font-size: 14px;
    width: 340px;
  }

  .u-section-2 .u-map-1 {
    width: 340px;
  }
}