 .u-section-1 {
  min-height: 899px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-family: "Be Vietnam Pro";
  text-transform: uppercase;
  font-weight: 700;
  margin: 95px 51px 0;
}

.u-section-1 .u-slider-1 {
  min-height: 743px;
  height: auto;
  margin-top: 22px;
  margin-bottom: -19px;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 31px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/0519ee70e2b909fb954fc48cf450a1d7d1351a32fcbefe238428ffea4c75a64ee1374021df6c25eccca4431c39863cad5b5fa5fb72ac549cbfcaa3_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 20px 70px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 22px 127px 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/9709_5sc3_231017.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  margin: 34px 70px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: -11px 127px 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/Pngtreeastackofbookson_15444253.png');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: 34px 22px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 14px 127px 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/Pngtreecolorfulstudydesktopsimplebackground_15151276.png');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  margin: 31px 70px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 22px 127px 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/9709_5sc3_231017.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 3rem;
  margin: 37px 70px 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 16px 127px 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Pngtreecolorfulstudydesktopsimplebackground_15151276.png');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 3rem;
  font-family: "Aoboshi One";
  margin: 142px 158px 0;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  margin: 67px 67px 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-carousel-indicators-1 {
    top: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 27px;
    margin-left: 27px;
    width: 899px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 58px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 891px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 1127px;
    margin-bottom: -411px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 109px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 95px;
    margin-left: 80px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-4 {
    width: 502px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 502px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-6 {
    width: 502px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -80px;
    margin-right: 80px;
    margin-left: 95px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-8 {
    width: 502px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: 502px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-10 {
    width: 502px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 37px;
    margin-right: 57px;
    margin-left: 117px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-12 {
    width: 502px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    width: 502px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 35px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 147px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 45px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-top: -99px;
    margin-right: 0;
    margin-left: 65px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-top: -48px;
    margin-right: 0;
    margin-left: 87px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: -48px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 948px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 748px;
    margin-bottom: -32px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 86px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 47px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-left: 17px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 57px;
    padding-right: 57px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 70px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 38px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-8 {
    width: 320px;
    margin-right: auto;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-9 {
    width: 320px;
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: 320px;
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 163px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-13 {
    width: 320px;
    margin-top: 41px;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }
}