 .u-section-1 {
  min-height: 890px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-family: "Be Vietnam Pro";
  text-transform: uppercase;
  font-weight: 700;
  margin: 95px 51px 0;
}

.u-section-1 .u-slider-1 {
  min-height: 695px;
  height: auto;
  margin-top: 22px;
  margin-bottom: 21px;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 30px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/0519ee70e2b909fb954fc48cf450a1d7d1351a32fcbefe238428ffea4c75a64ee1374021df6c25eccca4431c39863cad5b5fa5fb72ac549cbfcaa3_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 37px 21px 0 120px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 57px 57px 0 664px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -425px 664px 115px 57px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/9709_5sc3_231017.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  margin: 41px 26px 0 115px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 41px 59px 0 637px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: -464px 662px 0 59px;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/Pngtreeastackofbookson_15444253.png');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  margin: 36px 22px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 96px 50px 0 671px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: -269px 671px 1px 50px;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/Pngtreecolorfulstudydesktopsimplebackground_15151276.png');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  margin: 41px 26px 0 115px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 91px 671px 0 50px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: -349px 61px 0 660px;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/9709_5sc3_231017.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-size: 3rem;
  margin: 37px 21px 0 120px;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: 95px 671px 0 50px;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  margin: -387px 50px 0 671px;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Pngtreecolorfulstudydesktopsimplebackground_15151276.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-size: 3rem;
  font-family: "Aoboshi One";
  margin: 142px 167px 0 148px;
}

.u-section-1 .u-text-18 {
  font-size: 2.25rem;
  margin: 67px 67px 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 521px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 521px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 496px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 521px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 521px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 521px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 521px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 521px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 521px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 521px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 67px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 175px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 201px;
    margin-left: 301px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -607px;
    margin-right: 175px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 175px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 201px;
    margin-left: 276px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -563px;
    margin-right: 175px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 175px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 201px;
    margin-left: 301px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -563px;
    margin-right: 175px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 175px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -16px;
    margin-right: 175px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -52px;
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 175px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 61px;
    margin-right: 175px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -90px;
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 175px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 61px;
    margin-right: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 304px;
    margin-left: 121px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: -547px;
    margin-right: 121px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: 304px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-top: -531px;
    margin-right: 121px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-top: 304px;
    margin-left: 121px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-top: -531px;
    margin-right: 121px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: 121px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: 147px;
    margin-left: 121px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin-top: -48px;
    margin-right: 121px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
    margin-top: 198px;
    margin-left: 121px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
    margin-top: -48px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -486px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -428px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-9 {
    margin-top: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -428px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-12 {
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-15 {
    margin-top: 4px;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-18 {
    margin-top: 4px;
  }
}